#myPendientes { margin-top:150px; }
.custom_model{height: 50%;width: 50%;background-color: #fff;margin:0 auto}									
.selcls { font-size: 11px; } 		
.seltr { font-size: 11px; }
.selth { font-size: 30px; }