/*body{font-family: Arial,sans-serif;color:#333;}**/

.center{
	position:absolute;
	width:700px;
	height:600px;
	top:50%;
	left:50%;
	margin-left:-350px;
	margin-top:-250px;
}

h1{
	font-size:20px;
}

.modalmask {
	position: fixed;
	font-family: Arial, sans-serif;
	top: 0;
	right: 0;
	bottom:0px;
	left: 0;
	background: rgba(0,0,0,0.4);
	z-index: 99999;
	opacity:0;

	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

}

.modalmask:target {
	opacity:1;
	pointer-events: auto;
}

.modalbox{

	width: 910px;
	position: relative;
	/*padding: 5px 20px 13px 20px;*/
   	padding: 3px 8px 5px 8px;
	background: #f1f2f3;
	border-radius:3px;

	-webkit-transition: all 500ms ease-in;
	-moz-transition: all 500ms ease-in;
	transition: all 500ms ease-in;

}

.movedown {
	margin: 0 auto;
}

.rotate {
	margin: 10% auto;
	-webkit-transform: scale(-5,-5);
	transform: scale(-5,-5);
}

.resize {
	margin: 10% auto;
	width:0;
	height:0;
}

.modalmask:target .movedown{
	margin:10% auto;
}

.modalmask:target .rotate{
	transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize{

	width:400px;
	height:200px;

}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 1px;
	text-align: center;
	top: 1px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius:3px;
	font-size:16px;
}

.close:hover {
	cursor: pointer;
	background: #FAAC58;
	color:#222;
}

.nsc{
	position:absolute;
	bottom:40%;
	right:0;
}

/* CONFIGURACION CSS DETALLE DE LA ORDEN*/

#AgregarDetalleCartuchos{
	width:96%;		
	/*margin:10px auto 0 auto;*/

   	margin:0 auto;

	clear:both;
	float:none;
	/*font-size:bold 10px verdana;	   */
}

#Botones{
	width:auto%;
	margin:10px auto 0 auto;
    display: block;
	float:none;
	clear:both;

}

#Cerrar{

	width:auto%;
	margin:10px auto 0 auto;
    display: none;
	float:none;
   	clear:both;

}

fieldset.det {

	display: block;
	margin: 0px auto;

  	/*border:2px solid #000;*/

    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;

 }

legend.det{
	
	padding: 0.8em 0.8em;
	color:#0000CD; /*#61380B;*/	
	font-size: 12px;
	font-weight: bold;
	text-align:left;  	
	text-transform:none;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	
	padding: 2px; 
	
  }

table.ord {
   width: 85%;
   border: 1px solid #eee; /*#cef;*/
   margin: 0em 25px;
   text-align: left;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
   border-radius:8px;
}
   
td.tit {
   font-weight: bold;
   font-size:12px;
   background-color: #FAF5F5;
   border-bottom: 1px solid #eee; /*#cef;*/
   text-align:right;
   text-transform:uppercase;
   vertical-align:middle;
   padding: 3px 3px 3px 6px;
}

td.det {
   font-weight: bold ;
   font-size:11px;
   background-color: #fff;
   border-bottom: 1px solid #eee; /*#cef;*/
   text-align:left;
   /*text-transform:uppercase;*/
   vertical-align:middle;
}
	
/* CONFIGURACION CSS FIELDSET AGREGAR CARTUCHOS*/	

fieldset.cart{
	display: block;
	margin: 0px auto;
	border:2px solid #800000;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
 } 
 
legend.cart {
	padding: 0.8em 0.8em;
	color:#800000; /*#61380B;*/
	font-size: 14px;
	font-weight: bold;
	text-align:right;
	text-transform:uppercase;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 15px;
}

table.cart {
   width: 94%;
   border: 1px solid #eee; /*#cef;*/
   margin: 0em 15px;
   text-align: left;
   -moz-border-radius:8px;
   -webkit-border-radius:8px;
   border-radius:8px;
}

td.tit2 {
   font-weight: bold;
   font-size:12px;
   background-color: #F4F2F4;
   border-bottom: 1px solid #eee; /*#cef;*/
   text-align:right;
   text-transform:uppercase;
   vertical-align:middle;
   padding: 3px 3px 3px 6px;
}

td.det2 {
   font-weight: bold ;
   font-size:11px;
   background-color: #F0F8FF; /*#F5FAF5;*/
   border-bottom: 1px solid #eee; /*#cef;*/
   text-align:left;
   text-transform:uppercase;
   vertical-align:middle;
}

/* configuracin comun*/

textarea {
  width:650px;
  padding:5px;
  font: normal 1em Verdana, sans-serif;
  border:1px solid #eee;
  height:80px;
  display:block;
  color:#777;
  font-weight: bold;
}

select {
	font-size: 10px;
	font-family : verdana,arial,helvetica;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	padding: 2px;
}

input {
   text-align: center;
   font-weight: bold;
   font-size:12px;
   color:#80000;
}

.btn-agregar {

	margin: 2px 15px 0 auto;
	width: 2em;
	/*padding: 5px;*/
	border-radius : 5px 5px 20px 20px;
	moz-border-radius : 5px 5px 20px 20px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	color: #fff;
	background:#454442;
	font-size: 16px;
	font-weight: bold;
	float:right;

}

.btn-agregar:hover {

	cursor: pointer;
	background: #FAAC58;
	color:#222;
	font-weight: 900;
	font-size: 16px;

}
