<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" />
      </requestFiltering>
    </security>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="D:\InetPub\vhosts\pricetrack.com.ve\tmp" />
  </system.web>
</configuration>