/*
// hprepsemanal.css 02feb22 - 02feb22
*/
#main {  
    /*
  background: url('../img/pngegg (9).png') no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  */  
  /*
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 5%, rgba(52,161,216,0.7231267507002801) 98%);  
  */
  /*
  background: rgb(31,120,71);
  background: linear-gradient(170deg, rgba(31,120,71,1) 0%, rgba(52,161,216,1) 50%, rgba(248,177,51,1) 100%);
  */
  background: rgb(255,255,255);
  background: linear-gradient(359deg, rgba(255,255,255,1) 30%, rgba(52,161,216,0.7231267507002801) 100%);
}

#grad2 {
  background-color: #1a52c6;
}

.barrabotones {
  background-color: #DcDcDc;
  vertical-align: middle;
}

/* redondear select */
.selectWrapper {
  border-radius: 36px;
  display: inline-block;
  overflow: hidden;
  background: #cccccc;
  border: 1px solid #cccccc;
}

.selectBox {
  width: 140px;
  height: 40px;
  border: 0px;
  outline: none;
}


/* centrar imagen */
.separa {
  margin: 0 auto;
  padding: 3px;
}

.lb {
  margin: 0 auto;
  padding: 3px;
  text-align: left;
  font-Size: 14px;
  font-weight: bold;
  /*color: #5787C2;*/
  color: #305684;
  font-family: Verdana;
  /* text-shadow: 2px 0.2px #A9A9A9; */
}

.lb2 {
  margin: 0 auto;
  padding: 3px;
  text-align: left;
  font-Size: 14px;
  font-weight: bold;
  color: #5787C2;
  font-family: Verdana;
  /* text-shadow: 2px 0.2px #A9A9A9; */
}

.recorta {
  margin-top: 25px;  
}

/* centrar imagen */
.img-center {
  margin: 0 auto;
}

.borderless table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}
/*Preloaders*/

body {
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

html, body { min-height: 100%; }



/*td.example { background-color: #bde9ba; }*/
