#grad1{ 

    /*
	background: rgb(243,243,243);
    background: linear-gradient(90deg, rgba(243,243,243,1) 29%, rgba(198,198,217,1) 62%, rgba(68,202,230,1) 100%);
	*/
	/*background: linear-gradient(90deg, rgba(243,243,243,1) 29%, rgba(198,198,217,1) 62%, rgba(243,243,243,1) 100%);  */
	
	/* background-image: url(../images/fondos/fondoazul.png); */
	/* background-repeat: no-repeat; */
	/* /* background-size: contain; */
	/* /* background-position: 50% 50%; */ 
	/* max-width: 100%; */
	/* background-size:cover; */
	
	background-color: #f3f3f3;

}

#grad2{ 

    /*
	background: rgb(243,243,243);
    background: linear-gradient(90deg, rgba(243,243,243,1) 29%, rgba(198,198,217,1) 62%, rgba(68,202,230,1) 100%);
	*/
	/*background: linear-gradient(90deg, rgba(243,243,243,1) 29%, rgba(198,198,217,1) 62%, rgba(243,243,243,1) 100%);  */
	
	/* background-image: url(../images/fondos/fondoazul.png); */
	/* background-repeat: no-repeat; */
	/* /* background-size: contain; */
	/* /* background-position: 50% 50%; */ 
	/* max-width: 100%; */
	/* background-size:cover; */
	
	background-color: #1a52c6;
}

.barrabotones {
  background-color: #DcDcDc;  
  vertical-align: middle;  
}


.coolBackground {
  background-image: url("ab2.jpg");
  background-size: cover;
}

#image img {
    min-width: 100%;
    width: 100%;
    height: auto;
}

/* centrar imagen */
.img-center {margin:0 auto;}

/* redondear select */
.selectWrapper{
  border-radius:36px;
  display:inline-block;
  overflow:hidden;
  background:#cccccc;
  border:1px solid #cccccc;
}
.selectBox{
  width:140px;
  height:40px;
  border:0px;
  outline:none;
}

/*
.form-control {
  border-radius: 40px !important;
}
.form-control[multiple] {
  border-radius: 20px !important;
}
*/
/* centrar imagen */
.separa{
	margin:0 auto;
	padding :3px;	
}

.lb {
	margin:0 auto;
	padding :3px;
    text-align: left;
    font-Size: 12px;
    font-weight: bold;
    /*color: #5787C2;*/
	color: #2EA3F2;
    font-family: Verdana;
	/* text-shadow: 2px 0.2px #A9A9A9; */
}

.lb1 {
	margin:0 auto;
	padding :3px;
    text-align: left;
    font-Size: 13px;
    font-weight: bold;
    /*color: #5787C2;*/
	color: #2EA3F2;
    font-family: Verdana;
	/* text-shadow: 2px 0.2px #A9A9A9; */
}

.lb2 {
	margin:0 auto;
	padding :3px;
    text-align: left;
    font-Size: 14px;
    font-weight: bold;
    color: #5787C2;
    font-family: Verdana;
	/* text-shadow: 2px 0.2px #A9A9A9; */
}

.lb3 {
	margin:0 auto;
	padding :3px;
    text-align: CENTER;
    font-Size: 12px;
    font-weight: bold;
    color: #fff;
    font-family: Verdana;
	/* text-shadow: 2px 0.2px #A9A9A9; */
}

.lb4 {
	margin:0 auto;
	padding :3px;
    text-align: CENTER;
    font-Size: 12px;
    font-weight: bold;
    color: #2EA3F2;
    font-family: Verdana;	
	margin-top: 6px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

/*  Added Rounded Corner Tables */
.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 6px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}
.table-curved th:only-child{
    border-radius: 6px 6px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}